<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis3.basic.mapper.StudentBasicMapper">
	<!-- 
	<select id="findStudent" 
			parameterType="java.lang.Integer" 
			resultType="com.mybatis3.domain.Student">
		select stud_id ,name,email,dob from students where stud_id = #{studId}
	</select>
	 -->
	<select id="studentList" resultType="com.mybatis3.domain.Student">
		select stud_id as studId ,name,email,dob from students 
	</select>
	
	
	
</mapper>