<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>방명록 관리</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<link rel="stylesheet" href="css/styles.css">
<link rel="stylesheet" href="css/guest.css">
<link rel="icon" href="image/favicon-32x32.png">
<script src="js/guest.js"></script>
</head>
<body bgcolor=#FFFFFF text=#000000 leftmargin=0 topmargin=0
	marginwidth=0 marginheight=0>
	<!-- container start-->
	<div id="container">
		<!-- header start -->
		<div id="header" th:include="include_common_top::include_common_top">
			<!-- include_common_top.html start-->
			<!-- include_common_top.html end-->

<h1>
	<a href="">방명록 [gust spring jsp]</a>
</h1>

			<!-- include_common_top.jsp end-->
		</div>
		<!-- header end -->
		<!-- navigation start-->
		<div id="navigation" th:include="include_common_left::include_common_left">
			<!-- include_common_left.jsp start-->
			
<p>
	<strong>메 뉴</strong>
</p>
<ul>
	<li><a href="guest_main">방명록홈</a></li>
	<li><a href="guest_list">방명록리스트</a></li>
	<li><a href="guest_write_form">방명록쓰기폼</a></li>
</ul>

			<!-- include_common_left.jsp end-->
		</div>
		<!-- navigation end-->
		<!-- wrapper content start -->
		<div id="wrapper">
			<div id="content">
				<table border=0 cellpadding=0 cellspacing=0>
					<tr>
						<td>
							<!--contents--> <br />
							<table style="padding-left: 10px" border=0 cellpadding=0
								cellspacing=0>
								<tr>
									<td bgcolor="f4f4f4" height="22">&nbsp;&nbsp;<b>방명록 관리
											- 방명록 상세보기</b></td>
								</tr>
							</table> <!-- view Form  -->
							<form th:object="${guest}" name="f" method="post">
								<input th:value="*{guest_no}" type="hidden" name="guest_no" value="206" />
								<table border="0" cellpadding="0" cellspacing="1" width="590"
									bgcolor="BBBBBB">
									<tr>
										<td width=100 align=center bgcolor="E6ECDE" height="22">번호</td>
										<td th:text="*{guest_no}" width=490 bgcolor="ffffff" align="left"
											style="padding-left: 10px">206</td>
									</tr>
									<tr>
										<td width=100 align=center bgcolor="E6ECDE" height="22">이름</td>
										<td th:text="*{guest_name}" width=490 bgcolor="ffffff" align="left"
											style="padding-left: 10px">테스트</td>
									</tr>
									<tr>
										<td width=100 align=center bgcolor="E6ECDE" height="22">날짜</td>
										<td th:text="*{guest_date.substring(0,10)}" width=490 bgcolor="ffffff" align="left"
											style="padding-left: 10px">2023-02-15</td>
									<tr>
										<td width=100 align=center bgcolor="E6ECDE" height="22">홈페이지</td>
										<td th:text="*{guest_homepage}" width=490 bgcolor="ffffff" align="left"
											style="padding-left: 10px">홈페이지</td>
									</tr>
									<tr>
										<td width=100 align=center bgcolor="E6ECDE" height="22">제목</td>
										<td th:text="*{guest_title}" width=490 bgcolor="ffffff" align="left"
											style="padding-left: 10px">제목</td>
									</tr>
									<tr>
										<td width=100 align=center bgcolor="E6ECDE" height="110">내용</td>
										<td th:text="*{guest_content}" width=490 bgcolor="ffffff" align="left"
											style="padding-left: 10px">내용</td>
									</tr>
								</table>
							</form> <br />
							<table width=590 border=0 cellpadding=0 cellspacing=0>
								<tr>
									<td align=center>
									<input type="button" value="수정" onClick="guestModifyForm();"> &nbsp; 
									<input type="button" value="삭제" onClick="guestRemove();"> &nbsp; 
									<input type="button" value="목록" onClick="guestList()"></td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</div>


		</div>
		<!-- wrapper content end-->
		<!-- footer start-->
		<div id="footer" th:include="include_common_bottom::include_common_bottom">
			<!-- include_common_bottom.jsp start-->
			
	<p align="center">Copyright (&copy;) By Kimkyoungho.[김경호] All
		rights reserved.</p>

			<!-- include_common_bottom.jsp end-->
		</div>
		<!-- footer end -->
	</div>
	<!--container end-->
</body>
</html>
