<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis3.dao.mapper.TutorMapper">
	<!-- ################## resultMap ###################### -->
	<resultMap id="tutorWithCoursesResultMap" type="com.mybatis3.domain.Tutor" autoMapping="true" >
		<result column="TUTOR_NAME" property="name"/>
		<collection property="courses" javaType="java.util.List" ofType="com.mybatis3.domain.Course" autoMapping="true">
			<result column="COURSE_NAME" property="name"/>
		</collection>
	</resultMap>
	<!-- 
	<select id="findTutorByIdWithCourses" parameterType="int" resultMap="tutorWithCoursesResultMap">
		select t.tutor_id,t.name as tutor_name,t.email,course_id,c.name as course_name,description,start_date,end_date
		from tutors t join courses c on c.tutor_id=t.tutor_id where t.tutor_id=#{tutorId}
	</select>
	 -->
</mapper>